.flex-container {
    /* display: flex; */
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background-color: black;
    border: 4px solid white;
    font-size: 20px;
    height: 370px;
    width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* flex: 1; */
  }

  h1 {
    font-size: 80px;
    color: blue;
    text-align: center;
  }